{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false
    }]
   
  ],
  "plugins": [
    "@babel/plugin-syntax-typescript",
   
    "./plugins/removeGoog.js",
    ["module-resolver", {
      "extensions": [".js", ".jsx", ".ts", ".tsx"],
      "root": ["./src","./plugins/"]
    }]
  ]
}